.input-form {
    margin-top: 1.5rem;
}

.footer {
    margin-top: 1rem;
    display: flex;
    justify-content: space-between;
}

.not-user {
    font-size: small;
}

.not-user:hover {
    text-decoration: underline;
}