.card-container {
    margin-top: 3rem;
    display: flex;
    justify-content: space-around;
    align-items: stretch;
}

p-card {
    width: 40%;
    height: 20rem;
}

p-card-header {
    margin-top: .2rem;
}

.not-user {
    font-size: small;
    // display: flex;
    // justify-self: end;
    position: absolute;
    right: 5%;
    bottom: 2%;
}

.not-user:hover {
    text-decoration: underline;
}